@tailwind base;
@tailwind components;
@tailwind utilities;

.h2-mobile {
  font-size: 2.25rem;
  line-height: 2.5rem;
  font-weight: 600;
}
.h2-desktop {
  font-size: 3rem;
  line-height: 1;
  font-weight: 600;
}

.h3-mobile {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
}

.h4-mobile {
  font-size: 1.125rem;
  line-height: 1.75rem;
  font-weight: 700;
}
